* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.title {
  font-family: "Borel", cursive;
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}
.subtitle {
  font-family: "Borel", cursive;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}
.formProducts {
  margin: 20px auto;
  padding: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.2);
}
.label {
  width: 323px;
  text-align: start;
  font-size: 16px;
}

.controls {
  width: 100%;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.btn {
  width: 75%;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
}

.btn-add {
  background-color: rgb(61, 239, 108);
}

.btn-delete {
  background-color: rgb(242, 73, 73);
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  display: flex;
  width: 200px;
  height: 400px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: auto;
  padding: 5px;
  max-height: 150px;
}

.card-body {
  display: flex;
  width: 200px;
  padding: 5px;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  height: 340px;
}
.card-info {
  display: flex;
  width: 100%;
  padding: 5px;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin: 5px aut;
}
.card-title {
  text-align: center;
  font-size: 20px;
}

.card-text {
  font-size: 14px;
}

.code {
  font-size: 10px;
}

.btn-AddCart {
  display: flex;
  width: 150px;
  background-color: aquamarine;
  font-family: "Borel", cursive;
  text-align: center;
  padding: 5px auto;
  font-size: 12px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btnPag {
  width: 150px;
  background-color: rgb(213, 154, 239);
  font-family: "Borel", cursive;
  text-align: center;
  padding: 5px auto;
  font-size: 16px;
}
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.pagNumber {
  width: 150px;
  font-family: "Borel", cursive;
  text-align: center;

  font-size: 16px;
}
