<div class="container">
  <h1>Bienvenidos y bienvenidas a nuestra tienda</h1>

  <div class="row mt-3 text-center">
    <h3>Si no eres cliente puedes registrarte</h3>
    <a href="/register"><button
        class="btn btn-success mt-3"
      >Registrarse</button></a>
  </div>

  <div class="row mt-3 text-center">
    <h3>Si eres cliente puedes iniciar sesión</h3>
    <a href="/login"><button class="btn btn-success mt-3">Iniciar sesión</button></a>
  </div>
  <div class="row mt-3 text-center">
    <h3>Tambien puedes ingresar por GitHub</h3>
    <a href="/api/sessions/github"><button
        class="btn btn-success mt-3"
      >GitHub</button></a>
  </div>
  {{! <div class="row mt-3 text-center">
    <h3>Tambien puedes ingresar por Google</h3>
    <a href="/api/sessions/github"><button
        class="btn btn-success mt-3"
      >Google</button></a>
  </div> }}

</div>