<div class="container">
  <h2 class="title">Finalizar compra</h2>

  <div class="row" id="ticket"></div>

  <div class="row btnContainer">
    <a
      href="/products"
      id="finish"
      class="btn btn-success btn-a"
      type="submit"
      id="sendMail"
      value="Finalizar compra"
    >Finalizar compra</a>
  </div>
  <p class="text m-3">¡Muchas gracias por su compra!</p>
</div>

<script src="js/purchase.js"></script>