<div>
  <h1>Restaurar tu contraseña</h1>
  <div style="text-align:center;">
    <div style="text-align:center;">
      <img src='cid:gmail"' />
    </div>
    <p>Puedes restaurar tu contrasela a partir del
      <a href="http://localhost:8080">Siguiente Link</a></p>
  </div>;
</div>;