<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurar contraseña</title>
  </head>
  <body>
    <div>

      <h1>Restaura tu contraseña</h1>
      <p>Puedes restaurar tu contraseña a partir del
        <a
          href="http://localhost:8080/password-restore?token={{token}}"
        >Siguiente Link</a></p>

      <div style="text-align:center;">
        <img src="cid:gmail" />
      </div>
    </div>
  </body>
</html>