<div>
  <h1> ¡Hola, {{user.firstName}}!</h1>
  <div style="text-align:center;">
    <div style="text-align:center;"> 
      <img  src = cid:gmail">
  </div>
   <p> Ya puedes navegar, chatear y comprar en La Tienda </p>
    <a href="http://localhost:8080/products" class="btn btn-primary">
      Navegar
    </a>
</div>